<a href="<%= rating_path @conn, :rate, 1 %>">
  <div class="button">
    Productive
  </div>
</a>

<a href="<%= rating_path @conn, :rate, 0 %>">
  <div class="button" style="background-color: red">
    Not Productive
  </div>
</a>
